@import "tailwindcss";

html, body {
	height: 100%;
	margin: 0;
	background-color: #0b1220; /* dark slate */
	color: #e6eef8; /* light text */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
	min-height: 100%;
}
